librosa
git+https://github.com/yt-dlp/yt-dlp/archive@master
numpy
numpydoc
matplotlib
matplotlib-inline
ipython
ipython-genutils
pathlib
fastai==2.7.10
ipywidgets
streamlit==1.17.0
SoundFile
simpleaudio
cffi
pycparser
ffmpeg
scipy
htbuilder
plotly
