librosa
numpy
numpydoc
matplotlib
matplotlib-inline
ipython
ipython-genutils
pathlib
fastai==2.7.10
ipywidgets
youtube-dl==2021.12.17
streamlit==1.17.0
soundfile
cffi
pycparser
libgtk2.0-dev
libasound2-dev
libsndfile1-dev
ffmpeg
